html, body {
  padding: 0px;
  margin: 0px;
}

main{
  align-items: center;
  justify-content: center;
}

.LoginModal{
  position: fixed;
  max-width: 50vw;
  max-height: 50vW;
  background-color: gray;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.3);
  align-items: center;
  justify-content: center;
}