
body{
  background-color: #ffffff;
  padding: 20px;
}

.now{
  height: 50vh;
  background-color:aliceblue;
  border-radius: 15px;
}

.past{
  height: max-content;
  background-color: rgb(240, 241, 255);
  border-radius: 15px;
}

.past .summary{
  height: 50vh;
  padding: 15px;
  background-color: azure;
  border-radius: 15px;
  box-shadow: 6px rgba(0,0,0,0.1);
}

.future{
  height: 50vh;
  padding: 15px;
  background-color: rgb(240, 255, 241);
  border-radius: 15px;
  box-shadow: 6px rgba(0,0,0,0.1);
}