
body{
  background-color: #ffffff;
  
}

.now{
  height: 50vh;
  background-color:rgb(212, 235, 255);
  border-radius: 15px;
  padding-bottom: 20px;
  margin: 20px;
}

.past{
  height: max-content;
  background-color: rgb(212, 255, 254);
  border-radius: 15px;
  padding-bottom: 20px;
}

.summary{
  height: 50vh;
  width: 80vw;
  padding: 15px;
  margin: 20px;
  background-color: rgb(212, 255, 250);
  border-radius: 15px;
  box-shadow: 6px rgba(0,0,0,0.1);
}

.future{
  height: 50vh;
  padding: 15px;
  margin: 20px;
  background-color: rgb(215, 255, 212);
  border-radius: 15px;
  box-shadow: 6px rgba(0,0,0,0.1);
}