
body{
  background-color: #ffffff;
}

.now{
  background-color:aliceblue;
  border-radius: 15px;
  box-shadow: 6px rgba(0,0,0,0.1);
}

.past{
  
}

.past .summary{
  background-color: azure;
}

.future{
  
}