@charset "utf-8";

.nav-bar{
  display: flex;
  flex: 10;
  width: 100%;
  height: 20px;
  background-color:#cbcbcb;
}

.scheduleTable{
  display: flex;
  flex: 90;
  overflow-x: hidden;
  justify-content: center;
  height: max-content;
}

.scheduleTable table{
  align-items: center;
  width: 100%;
  height: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

.scheduleTable td {
  outline: 3px solid #000;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  font-weight: bold;
}
