@charset "utf-8";

.scheduleTable{
  position: relative;
  top: 100px;
  overflow-x: hidden;
  text-align: center;
  height: max-content;
}

.scheduleTable table{
  align-items: center;
  width: 100%;
  height: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

.scheduleTable td {
  outline: 3px solid #000;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  font-weight: bold;
}

.nav-tools{
  position: relative;
  background-color: gray;
  height: 70px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.nav{
  background-color: #000;
  border-radius: 3px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  height: 40px;
  width: max-content;
  margin: 10px;
}


input[type="checkbox"].slide {
  --size: 25px;
  --scale: 0.6;
  appearance: none;
  cursor: pointer;
  margin: 0;
  height: var(--size);
  aspect-ratio: 2;
  border-radius: var(--size);
  background-color: #444444;
}
    			
input[type="checkbox"].slide::before {
  content: "";
  display: block;
  height: var(--size);
  aspect-ratio: 1;
  border-radius: var(--size);
  background-color: #FFFFFF;
  transform: scale(var(--scale));
  transition: 0.2s;
}
  			
input[type="checkbox"].slide:checked {
  background-color: #24B441;
}
  			
input[type="checkbox"].slide:checked::before {
  transform: translateX(var(--size)) scale(var(--scale));
}